*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container {
    max-width: 370px;
    margin: 10vh auto 0 auto;
    box-shadow: 0px 0px 5px 2px rgba(153, 153, 153, 1);
}

#display {
    text-align: right;
    height: 70px;
    line-height: 70px;
    padding: 16px 8px;
    font-size: 25px;
   
}

.buttons {
    display: grid;
    border-bottom: 1px solid #999;
    border-left: 1px solid #999;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
}

.buttons > div {
    border-top: 1px solid #999;
    border-right: 1px solid #999;
}

.button {
    line-height: 80px;
    border: 0.5px solid #999;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

.button:hover{
    background-color: black;
    color: white;
    transition: 0.5s ease-in-out;
}

#equal {
    background-color: #2c2ce7;
    color: white;
}